body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    color: #333333;
};
   

}
.squre{
    height: 115px;
    width: 3px;
    border-radius: 10px;
    background-color: #FF5959;
    margin-top: 62px;
    
}
.text{
    font-family: 'Yeseva One', cursive;
    padding-left: 10px;
    font-size: 40px;

}
.text_orange_color{
    color: #FFAD5A;
}
   
.stay_focused{
    display: flex;
}
.first_section{
    display: flex;
    margin-top: 50px;
        
}
.header{
    width: 50%;
    padding: 2%;
    margin-left: 5%;
}
.header img{
    width: 70%;
    margin-left: 10%;
    margin-top: -70px;

}
.button{
    border: none;
    background-color:#FF5959;
    padding: 10px 30px;
    font-weight: 700;
    text-align: center;
    color: white;
    border-radius: 5px;


}
.heading{
    text-align: center;
    font-size: 20px;
}
.three_box{
    display: flex;
    margin: 5%;
    margin-top: 0%;
    justify-content: space-between;
}
.box_one{
    width: 360px;
    height: 376px;
    padding: 2%;
    background: rgba(79, 157, 166, .1);
    border-radius: 26px;
}
.box_two{
    width: 360px;
    height: 376px;
    padding: 2%;
    background: rgba(255, 89, 89, .1);
    border-radius: 26px;
}
.box_three{
    width: 360px;
    height: 376px; 
    padding: 2%;
    background: rgba(255, 244, 214, 1);
    border-radius: 26px;
}
.box_one img{
    width: 50%;
}
.box_two img{
    width: 50%;
}
.box_three img{
    width: 50%;
}