body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
.squre{
    height: 115px;
    width: 3px;
    border-radius: 10px;
    background-color: #FF5959;
    margin-top: 62px;
    
}
.text{
    font-family: 'Yeseva One', cursive;
    padding-left: 10px;
    font-size: 40px;

}
.text_orange_color{
    color: #FFAD5A;
}
   
.stay_focused{
    display: flex;
}
.first_section{
    display: flex;
    margin-top: 50px;
        
}
.header{
    width: 50%;
    padding: 2%;
    margin-left: 5%;
}
.header img{
    width: 70%;
    margin-left: 10%;
    margin-top: -70px;

}
.button{
    border: none;
    background-color:#FF5959;
    padding: 10px 30px;
    font-weight: 700;
    text-align: center;
    color: white;
    border-radius: 5px;
    text-decoration: none;


}
.heading{
    text-align: center;
    font-size: 20px;
}
.three_box{
    display: flex;
    margin: 5%;
    margin-top: 0%;
    justify-content: space-between;
}
.box_one{
    width: 360px;
    height: 376px;
    padding: 2%;
    background: rgba(79, 157, 166, .1);
    border-radius: 26px;
}
.box_two{
    width: 360px;
    height: 376px;
    padding: 2%;
    background: rgba(255, 89, 89, .1);
    border-radius: 26px;
}
.box_three{
    width: 360px;
    height: 376px; 
    padding: 2%;
    background: rgba(255, 244, 214, 1);
    border-radius: 26px;
}
.box_one img{
    width: 50%;
}
.box_two img{
    width: 50%;
}
.box_three img{
    width: 50%;
}
.third_section{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    background-image: url(shape-1.png);
    background-position: left;
    background-size: 250px;
    background-repeat: no-repeat;
    background-position-x: 100px;

  

   
}

.third_section_image img{
    width: 400px;
    margin-left: 200px;
}
.third_section_text{
    margin: auto;
    padding: 5%;
}
.fourth_heading{
    text-align: center;
}
.fourth_section{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    
   
}
.last_bg{
    background-image: url(shape-1.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-y: 300px;


}
.padd{
    padding-bottom: 100px;
}
.fourth_section_image img{
    width: 600px;
    height: 450px;
    margin-left: 50px;
    border-radius: 20px;

}
.margin img{
    margin-right: 100px;

}
.fourth_section_text{
    margin: auto;
    margin-top: none;
    padding-left: 5%;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: white;
}
.font_h{
    font-family: 'Lobster', cursive;
}
.font_p{
    font-family: 'Manrope', sans-serif;
}
.color{
    color:#FF5959;


}
